@font-face {
  font-family: "Gotham";
  src: url("../assets/fonts/Gotham/gothamthin-webfont.woff2") format("woff2"),
    url("../assets/fonts/Gotham/gothamthin-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../assets/fonts/Gotham/gothamxlight-webfont.woff2") format("woff2"),
    url("../assets/fonts/Gotham/gothamxlight-webfont.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../assets/fonts/Gotham/gothamlight-webfont.woff2") format("woff2"),
    url("../assets/fonts/Gotham/gothamlight-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../assets/fonts/Gotham/gothambook-webfont.woff2") format("woff2"),
    url("../assets/fonts/Gotham/gothambook-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  /* font-display: swap; */
}
@font-face {
  font-family: "Gotham";
  src: url("../assets/fonts/Gotham/gothammedium-webfont.woff2") format("woff2"),
    url("../assets/fonts/Gotham/gothammedium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../assets/fonts/Gotham/gothambold-webfont.woff2") format("woff2"),
    url("../assets/fonts/Gotham/gothambold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../assets/fonts/Gotham/gothamblack-webfont.woff2") format("woff2"),
    url("../assets/fonts/Gotham/gothamblack-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../assets/fonts/Gotham/gothamultra-webfont.woff2") format("woff2"),
    url("../assets/fonts/Gotham/gothamultra-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Josefin";
  src: local("Josefin"),
    url("../assets/fonts/JosefinSans-VariableFont_wght.ttf") format("truetype");
}

$color-title: #a95146;
$color-text: #43413a;
$color-container-light: #fef3ef;
$color-container-darker: #fbdbcd;
$color-contrast: #00463c;

// * {
//   margin: 0;
// }

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  overflow-y: scroll;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  text-decoration: none;
  font-family: "Gotham";
  margin: 0;
}

img {
  overflow-clip-margin: unset;
  overflow: hidden;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  font-family: "Gotham";
  border-style: none;
}

a {
  margin: 0;
  font-family: "Gotham";
  font-weight: 100;
  text-decoration: none;
}

p {
  font-family: "Josefin";
  color: $color-text;
}
canvas {
  background-color: transparent;
}
