.about {
  max-width: 1240px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;

  .bloc {
    padding: 20px 30px;
    background-color: #fef3ef;

    h2 {
      font-family: "Gotham";
      font-weight: 600;
      font-size: 22px;
      color: $color-title;
    }
    p {
      font-size: 16px;
      font-weight: 300;
    }
  }

  .left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    .photo-container {
      display: flex;
      justify-content: space-between;
      gap: 20px;

      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }
  .right-side {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
  @media screen and (max-width: 1280px) {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 0 20px;
    box-sizing: border-box;
    .right-side {
      width: 40%;
    }
    .left-side {
      width: 60%;
    }
  }
  @media screen and (max-width: 1024px) {
    max-width: 100%;
  }
  @media screen and (max-width: 768px) {
    margin-top: 20px;
    flex-direction: column;
    .left-side,
    .right-side {
      width: 100%;
    }
    .left-side {
      flex-direction: column-reverse;
      .photo-container {
        order: 0;
      }
    }
  }
}
