.home {
  max-width: 1240px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;

  .banner {
    max-width: 1240px;
  }

  .container {
    // object-fit: contain;
    display: flex;
    justify-content: space-between;
    gap: 2%;

    .home-left {
      height: 100%;
      max-height: 700px;
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .home-left-T {
        height: 48%;
        display: flex;
        flex-direction: row;
        gap: 20px;

        .info {
          object-fit: contain;
        }

        .social-link {
          padding: 10px 20px;
          background-color: $color-container-light;
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          i {
            cursor: pointer;
            color: $color-contrast;
            font-size: 40px;
          }
        }
      }
      .home-left-B {
        height: 53%;
        width: 100%;
        object-fit: contain;
        display: flex;
      }
    }

    .home-right {
      max-width: 48%;
      height: 100%;
      max-height: 700px;
      object-fit: contain;
      display: flex;
      gap: 2%;

      .home-right-L {
        width: 64%;
        max-height: 700px;
      }

      .home-right-R {
        width: 34%;
        max-height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;

        button {
          cursor: pointer;
          height: 50px;
          background-color: #d09b95;
          border-radius: 4px;
          font-family: "Gotham";
          font-size: 20px;
          color: #fdf2ee;
          font-weight: 100;
        }

        .photo_container {
          img {
            width: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }

  .modal-background {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .modal-container {
    position: relative;
    z-index: 10;
    margin: auto;
    max-width: 1024px;
    max-height: 720px;
    height: 100%;

    i {
      cursor: pointer;
      font-size: 40px;
      color: $color-contrast;
      position: absolute;
      top: 10px;
      right: 10px;
    }
    img {
      margin: auto;
    }
  }

  @media screen and (max-width: 1240px) {
    width: 100%;
    margin: auto;
  }
}
