.traiteur {
  max-width: 1240px;
  // max-height: 740px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;

  .traiteur-left {
    // flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    .info {
      h1 {
        margin-bottom: 30px;
      }
      .info-container {
        gap: 2em;
      }
    }

    .photo-container {
      flex-grow: 1;
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      align-items: end;
      gap: 20px;
      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
  }

  .traiteur-right {
    // flex-basis: 50%;
    background-color: #fef3ef;

    .form-container {
      margin: 20px;
      display: flex;
      flex-direction: column;
      h3 {
        color: #aa5246;
        font-size: 20px;
        font-weight: 500;
      }
      ul {
        margin: 6% 0;
        font-family: "Josefin";
        font-weight: 350;
        font-size: 16px;

        li {
          margin: 5px;
          padding-left: 20px;
          list-style: inside;
        }
      }

      form {
        max-width: 400px;

        label {
          font-family: "Josefin";
          font-weight: 500;
          margin-bottom: 20px;
          display: flex;
          flex-direction: column;
          gap: 5px;

          input {
            color: $color-text;
            height: 30px;
            border: solid 2px;
            border-color: #a9524637;
            border-radius: 6px;
          }
        }

        .half {
          width: 200px;
          label {
            input {
              height: 40px;
              justify-content: center;
            }
          }
        }
        textarea {
          color: $color-text;
          width: 400px;
          border: solid 2px;
          border-color: #a9524637;
          border-radius: 6px;
        }
        .half {
          width: 200px;
          label {
            input {
              height: 40px;
            }
            input::placeholder {
              align-items: center;
              text-align: center;
              font-size: 10px;
              color: red;
            }
          }
        }
        .form_button {
          width: 200px;
          height: 50px;
          border-radius: 15px;
          border: none;
          background-color: $color-contrast;
          color: #fff;
          font-size: 20px;
        }
      }
    }
  }

  @media screen and (max-width: 1280px) {
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
  }
  @media screen and (max-width: 1024px) {
    max-width: 100%;
    padding: 0 20px;
    margin: auto;
  }
  @media screen and (max-width: 768px) {
    margin-top: 20px;
    flex-direction: column-reverse;
    .traiteur-right {
      margin: auto;
      .form-container {
        margin: 20px 30px;
        max-width: 500px;
        form {
          // max-width: 400px;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: stretch;
          .half {
            box-sizing: border-box;
            width: 100%;
            display: flex;
            justify-content: space-between;
            gap: 10px;
          }
          label {
            textarea {
              // max-width: 400px;
              width: 100%;
            }
          }
        }
      }
    }
    .traiteur-left {
      .photo-container {
        max-height: 400px;
      }
    }
  }
  @media screen and (max-width: 600px) {
    .traiteur-right {
      .form-container {
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 20px;

        h3 {
          font-size: 16px;
          font-weight: 400;
        }
        ul {
          font-size: 14px;

          li {
            padding-left: 10px;
          }
        }
        form {
          max-width: 100%;
          box-sizing: border-box;
          label {
            max-width: 90%;
          }
          .half {
            flex-direction: column;
            input {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
