.header {
  width: 100%;
  height: 50px;
  margin-top: 36px;
  margin-bottom: 20px;
  background-color: #aa5246;
}
.header .header-container .nav-mobile {
  display: none;
}
.header .header-container .nav-desktop {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  justify-items: center;
}
.header .header-container .nav-desktop .header-logo {
  margin: auto;
  max-width: 100px;
}
.header .header-container .nav-desktop .header-logo img {
  margin-top: -40px;
  width: 80px;
  box-sizing: border-box;
  background-color: #fbdbcd;
  border-radius: 50%;
  border: 8px solid #fff;
}
.header .header-container .nav-desktop .header-nav-left,
.header .header-container .nav-desktop .header-nav-right {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.header .header-container .nav-desktop .header-nav-left h2,
.header .header-container .nav-desktop .header-nav-right h2 {
  width: 100%;
  height: 50px;
  font-family: "Gotham";
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  align-content: center;
  color: #fff;
}
.header .header-container .nav-desktop .header-nav-left a,
.header .header-container .nav-desktop .header-nav-right a {
  width: 100%;
}
.header .header-container .nav-desktop .header-nav-left .nav-active h2,
.header .header-container .nav-desktop .header-nav-right .nav-active h2 {
  background-color: rgba(255, 255, 255, 0.2);
}
@media screen and (max-width: 1280px) {
  .header .header-container .nav-desktop {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .header {
    margin-top: 0;
    background-color: #fff;
  }
  .header .header-container {
    position: relative;
    height: 50px;
    margin: 15px 30px;
    background-color: #aa5246;
  }
  .header .header-container .nav-desktop {
    display: none;
  }
  .header .header-container .nav-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  .header .header-container .nav-mobile .logo {
    z-index: 20;
    position: absolute;
    left: -30px;
    top: -15px;
  }
  .header .header-container .nav-mobile .logo img {
    width: 80px;
    box-sizing: border-box;
    background-color: #fbdbcd;
    border-radius: 50%;
    border: 8px solid #fff;
  }
  .header .header-container .nav-mobile i {
    z-index: 20;
    position: absolute;
    width: 80px;
    height: 80px;
    right: -30px;
    top: -15px;
    text-align: center;
    align-content: center;
    box-sizing: border-box;
    background-color: #fbdbcd;
    border-radius: 50%;
    border: 8px solid #fff;
    color: #43413a;
    font-size: 24px;
  }
  .header .header-container .nav-mobile .menu-links {
    z-index: 10;
    margin: 40px auto;
    width: 100%;
    padding: 40px 0;
    background-color: #aa5246;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
  .header .header-container .nav-mobile .menu-links h2 {
    padding: 10px 0;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
  }
}/*# sourceMappingURL=header.css.map */