@font-face {
  font-family: "Gotham";
  src: url("../assets/fonts/Gotham/gothamthin-webfont.woff2") format("woff2"), url("../assets/fonts/Gotham/gothamthin-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../assets/fonts/Gotham/gothamxlight-webfont.woff2") format("woff2"), url("../assets/fonts/Gotham/gothamxlight-webfont.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../assets/fonts/Gotham/gothamlight-webfont.woff2") format("woff2"), url("../assets/fonts/Gotham/gothamlight-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../assets/fonts/Gotham/gothambook-webfont.woff2") format("woff2"), url("../assets/fonts/Gotham/gothambook-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  /* font-display: swap; */
}
@font-face {
  font-family: "Gotham";
  src: url("../assets/fonts/Gotham/gothammedium-webfont.woff2") format("woff2"), url("../assets/fonts/Gotham/gothammedium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../assets/fonts/Gotham/gothambold-webfont.woff2") format("woff2"), url("../assets/fonts/Gotham/gothambold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../assets/fonts/Gotham/gothamblack-webfont.woff2") format("woff2"), url("../assets/fonts/Gotham/gothamblack-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../assets/fonts/Gotham/gothamultra-webfont.woff2") format("woff2"), url("../assets/fonts/Gotham/gothamultra-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Josefin";
  src: local("Josefin"), url("../assets/fonts/JosefinSans-VariableFont_wght.ttf") format("truetype");
}
* {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  text-decoration: none;
  font-family: "Gotham";
}

img {
  overflow-clip-margin: unset;
  overflow: hidden;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  font-family: "Gotham";
  border-style: none;
}

a {
  font-family: "Gotham";
  font-weight: 100;
  text-decoration: none;
}

p {
  font-family: "Josefin";
  color: #43413a;
}

body {
  height: 100vh;
}

.header {
  width: 100%;
  height: 50px;
  margin-top: 40px;
  position: relative;
  background-color: #aa5246;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.header .header-logo {
  margin: auto;
  max-width: 100px;
}
.header .header-logo img {
  margin-top: -40px;
  width: 80px;
  box-sizing: border-box;
  background-color: #fbdbcd;
  border-radius: 50%;
  border: 10px solid #fff;
}
.header .header-nav-left,
.header .header-nav-right {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  align-items: center;
}
.header .header-nav-left .nav-inactive h2,
.header .header-nav-right .nav-inactive h2 {
  font-family: "Gotham";
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}
.header .header-nav-left .nav-active h2,
.header .header-nav-right .nav-active h2 {
  width: 100%;
  height: 100%;
  font-family: "Gotham";
  text-align: center;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}
.header .header-nav-left {
  margin-left: 6%;
}
.header .header-nav-right {
  margin-right: 6%;
}

.footer {
  margin-top: 20px;
  width: 100%;
  background-color: #a95146;
}
.footer .footer-container {
  margin: auto;
  max-width: 1240px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-container .footer-left {
  display: flex;
  gap: 30px;
}
.footer .footer-container .footer-left h4 {
  color: #fff;
  font-size: 12px;
}
.footer .footer-container .footer-right {
  font-family: "Josefin";
  color: #fff;
  font-weight: 100;
  font-size: 13px;
}

.home {
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2%;
  margin: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.home .banner {
  max-width: 1240px;
}
.home .container {
  margin-top: 20px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1%;
}
.home .container .home-left {
  max-height: 700px;
  width: 49%;
  display: flex;
  flex-direction: column;
  gap: 2%;
}
.home .container .home-left .home-left-T {
  height: 45%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.home .container .home-left .home-left-T .info {
  -o-object-fit: contain;
     object-fit: contain;
}
.home .container .home-left .home-left-T .social-link {
  padding: 10px 20px;
  background-color: #fef3ef;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.home .container .home-left .home-left-T .social-link i {
  color: #00463c;
  font-size: 40px;
}
.home .container .home-left .home-left-B {
  height: 53%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: flex;
  justify-content: space-between;
}
.home .container .home-right {
  max-width: 49%;
  height: 100%;
  max-height: 700px;
  -o-object-fit: contain;
     object-fit: contain;
  display: flex;
  gap: 2%;
}
.home .container .home-right .home-right-L {
  width: 67%;
  max-height: 700px;
}
.home .container .home-right .home-right-R {
  width: 31%;
  max-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home .container .home-right .home-right-R button {
  height: 50px;
  background-color: #d09b95;
  border-radius: 4px;
  font-family: "Gotham";
  font-size: 20px;
  color: #fdf2ee;
  font-weight: 100;
}
.home .container .home-right .home-right-R .photo_container img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 1240px) {
  .home {
    width: 100%;
    margin: 20px;
  }
}

.traiteur {
  max-width: 1240px;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  gap: 2%;
}
.traiteur .traiteur-left {
  width: 49%;
  -o-object-fit: contain;
     object-fit: contain;
}
.traiteur .traiteur-left .photo-container {
  max-height: 500px;
  margin-top: 20px;
  display: flex;
  gap: 2%;
}
.traiteur .traiteur-right {
  width: 49%;
  padding: 30px;
  background-color: #fef3ef;
}
.traiteur .traiteur-right h3 {
  color: #aa5246;
  font-size: 20px;
  font-weight: 500;
}
.traiteur .traiteur-right ul {
  margin: 6% 0;
  font-family: "Josefin";
  font-weight: 350;
  font-size: 16px;
}
.traiteur .traiteur-right ul li {
  margin: 5px;
  padding-left: 20px;
  list-style: inside;
}
.traiteur .traiteur-right form {
  max-width: 400px;
}
.traiteur .traiteur-right form label {
  font-family: "Josefin";
  font-weight: 500;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.traiteur .traiteur-right form label input {
  color: #43413a;
  height: 30px;
  border: solid 2px;
  border-color: rgba(169, 82, 70, 0.2156862745);
  border-radius: 6px;
}
.traiteur .traiteur-right form label .half {
  width: 200px;
}
.traiteur .traiteur-right form label textarea {
  color: #43413a;
  width: 400px;
  border: solid 2px;
  border-color: rgba(169, 82, 70, 0.2156862745);
  border-radius: 6px;
}
.traiteur .traiteur-right form .form_button {
  width: 200px;
  height: 50px;
  border-radius: 15px;
  border: none;
  background-color: #fbdbcd;
  color: #fff;
  font-size: 20px;
}

.banner {
  margin: auto;
  margin-top: 20px;
  width: 100%;
  padding: 10px 30px;
  background-color: rgb(204, 218, 216);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.banner h2 {
  font-family: "Gotham";
  font-size: 16px;
  font-weight: 500;
  color: #00463c !important;
}

.infos {
  padding: 20px 30px;
  background-color: #fef3ef;
}
.infos .info-titre {
  padding-bottom: 5%;
}
.infos .info-titre h1 {
  color: #aa5246;
  font-size: 26px;
  font-weight: 600;
}
.infos .info-titre p {
  margin-top: 1%;
  font-weight: 300;
  font-size: 16px;
}
.infos .info-container {
  height: 70%;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.infos .info-container .info-item {
  margin: 5px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
}
.infos .info-container .info-item .fa-solid {
  text-align: center;
  align-content: center;
  color: #aa5246;
  font-size: 30px;
}
.infos .info-container .info-item p {
  font-size: 16px;
  font-weight: 400;
}

.menu-container img {
  width: 100%;
  max-height: 700px;
  -o-object-fit: contain;
     object-fit: contain;
}/*# sourceMappingURL=main.css.map */