@font-face {
  font-family: "Gotham";
  src: local("Gotham"), url("../assets/fonts/Gotham-Black.otf") format("opentype"), url("../assets/fonts/Gotham-Medium.otf") format("opentype"), url("../assets/fonts/Gotham-Thin.otf") format("opentype"), url("../assets/fonts/Gotham-Ultra.otf") format("opentype"), url("../assets/fonts/Gotham-XLight.otf") format("opentype");
}
@font-face {
  font-family: "Josefin";
  src: local("Josefin"), url("../assets/fonts/JosefinSans-VariableFont_wght.ttf") format("truetype");
}
* {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Gotham";
  text-decoration: none;
}

img {
  overflow-clip-margin: unset;
  overflow: hidden;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border-style: none;
}

a {
  text-decoration: none;
}

p {
  font-family: "Josefin";
  color: #43413a;
}

body {
  height: 100vh;
}

.header {
  width: 100%;
  height: 50px;
  margin-top: 40px;
  position: relative;
  color: black;
  background-color: #aa5246;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.header .header-logo {
  margin: auto;
  max-width: 100px;
}
.header .header-logo img {
  margin-top: -40px;
  width: 80px;
  box-sizing: border-box;
  background-color: #fbdbcd;
  border-radius: 50%;
  border: 10px solid #fff;
}
.header .header-nav-left,
.header .header-nav-right {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  align-items: center;
}
.header .header-nav-left .nav-active h3,
.header .header-nav-right .nav-active h3 {
  color: #fff;
  background-color: #fff;
  opacity: 0.2;
}
.header .header-nav-left h2,
.header .header-nav-right h2 {
  color: #fff;
  font-size: 16px;
  text-align: center;
}
.header .header-nav-left {
  margin-left: 6%;
}
.header .header-nav-right {
  margin-right: 6%;
}

.footer {
  margin-top: 20px;
  width: 100%;
  background-color: #a95146;
}
.footer .footer-container {
  margin: auto;
  max-width: 1240px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-container .footer-left {
  display: flex;
  gap: 30px;
}
.footer .footer-container .footer-left h4 {
  color: #fff;
  font-size: 12px;
}
.footer .footer-container .footer-right {
  font-family: "Josefin";
  color: #fff;
  font-weight: 100;
  font-size: 13px;
}

.home {
  max-width: 1240px;
  max-height: 820px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2%;
  margin: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.home .banner {
  max-width: 1240px;
}
.home .container {
  margin-top: 20px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1%;
}
.home .container .home-left {
  max-height: 700px;
  width: 49%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.home .container .home-left .home-left-T {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.home .container .home-left .home-left-T .social-link {
  padding: 20px;
  background-color: #fef3ef;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.home .container .home-left .home-left-T .social-link i {
  color: #00463c;
  font-size: 40px;
}
.home .container .home-left .home-left-B {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: flex;
  justify-content: space-between;
}
.home .container .home-right {
  max-width: 49%;
  height: 100%;
  max-height: 700px;
  -o-object-fit: contain;
     object-fit: contain;
  display: flex;
  gap: 2%;
}
.home .container .home-right .home-right-L {
  width: 67%;
  max-height: 700px;
}
.home .container .home-right .home-right-R {
  width: 31%;
  max-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home .container .home-right .home-right-R button {
  height: 50px;
  background-color: #d09b95;
  border-radius: 4px;
  font-family: "Gotham";
  font-size: 20px;
  color: #fdf2ee;
  font-weight: 100;
}
.home .container .home-right .home-right-R .photo_container img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 1240px) {
  .home {
    width: 100%;
    margin: 20px;
  }
}

.traiteur {
  max-width: 1240px;
  margin: auto;
  display: flex;
  gap: 2%;
}
.traiteur .traiteur-left {
  width: 49%;
}
.traiteur .traiteur-right {
  width: 49%;
}

.banner {
  margin: auto;
  margin-top: 20px;
  width: 100%;
  padding: 1% 0;
  background-color: rgb(204, 218, 216);
  font-family: "Gotham";
  font-size: 12px;
  font-weight: 500;
  color: #00463c !important;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.infos {
  padding: 20px 50px 20px 30px;
  background-color: #fef3ef;
}
.infos .info-titre {
  padding-bottom: 20px;
}
.infos .info-titre h1 {
  color: #aa5246;
  font-size: 28px;
  font-weight: 600;
}
.infos .info-titre p {
  font-family: "Gotham";
  font-weight: 100;
  font-size: 16px;
}
.infos .info-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.infos .info-container .info-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.infos .info-container .info-item .fa-solid {
  text-align: center;
  align-content: center;
  color: #aa5246;
  font-size: 30px;
}
.infos .info-container .info-item p {
  font-size: 16px;
  font-weight: 400;
}

.menu-container img {
  width: 100%;
  max-height: 700px;
  -o-object-fit: contain;
     object-fit: contain;
}/*# sourceMappingURL=main.css.map */