.banner {
  margin: auto;
  margin-top: 20px;
  width: 100%;
  padding: 10px 30px;
  background-color: rgb(204, 218, 216);
  display: flex;
  justify-content: space-around;
  align-items: center;

  h2 {
    font-family: "Gotham";
    font-size: 16px;
    font-weight: 500;
    color: #00463c !important;
  }
}
