.banner {
  margin: auto;
  margin-top: 20px;
  width: 100%;
  padding: 1% 5%;
  background-color: rgb(204, 218, 216);
  font-family: "Gotham";
  font-size: 12px;
  font-weight: 500;
  color: #00463c !important;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
