.banner {
  margin-top: 20px;
  padding: 5px 0;
  width: 100%;
  max-width: 1240px;
  background-color: rgb(204, 218, 216);
  display: flex;
  justify-content: space-around;
  align-items: center;

  p {
    margin: 0;
  }
  h2 {
    font-family: "Gotham";
    font-size: 16px;
    font-weight: 500;
    color: #00463c !important;
  }
}
