.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
  box-sizing: border-box;

  #container {
    img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      overflow: hidden;
      margin: auto;
    }

    .content {
      margin: 0;
      display: flex;
      gap: 5px;
      flex-direction: column;
      justify-content: space-between;
      .tag {
        height: 30px;
        width: 120px;
        border-radius: 5px;
        background-color: #00463c;
        color: #fff;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        text-align: center;
        align-content: center;
      }
      .title {
        font-size: 16px;
        font-weight: 600;
      }
      .date {
        font-family: "Josefin";
        font-size: 12px;
        font-weight: 300;
      }
      p,
      strong {
        margin: 0;
        font-family: "Josefin";
        font-size: 14px;
      }
      .description {
        font-weight: 500;
      }
      .price {
        font-weight: 800;
      }
    }
  }

  .container {
    position: relative;
    box-sizing: border-box;
    width: calc(100% - 40px);
    // margin: -40px 20px 0 20px;
    border: 3px solid #00463c;
    border-radius: 10px;
    padding: 10px;
    width: 40%;
    display: flex;
    gap: 20px;
    flex-shrink: 1;
  }

  .container.left {
    margin: 0 20px;
    left: 40px;
  }

  .container.right {
    margin: 0 30px;
    right: calc(-50% - 15px);
  }

  .container::after {
    content: "";
    position: absolute;
    width: 29px;
    height: 29px;
    top: calc(50% - 15px);
    right: -42px;
    background: #ffffff;
    opacity: 1 !important;
    border: 2px solid #00463c;
    border-radius: 16px;
    z-index: 1;
  }

  .container.right::after {
    left: -64px;
  }
  .container.left::after {
    right: -70px;
  }
  .container.left::before {
    right: -50px;
  }
  .container.right::before {
    left: -32px;
  }
  .container::before {
    content: "";
    position: absolute;
    width: 10%;
    height: 2px;
    top: calc(50% - 1px);
    right: -12px;
    background: #00463c;
    z-index: 1;
  }
}

.timeline::after {
  content: "";
  position: absolute;
  border-radius: 5px;
  width: 12px;
  background: rgb(0, 70, 60);
  background: linear-gradient(
    180deg,
    rgba(0, 70, 60, 1) 0%,
    rgba(0, 70, 60, 0.5) 40%
  );
  top: 0;
  bottom: 0;
  left: calc(50% - 6px);
  margin-left: -1px;
}

.container::after {
  background: #ffffff !important;
  border: 2px solid #00463c;
  border-radius: 16px;
  z-index: 1;
}

.over {
  .content,
  .photo {
    opacity: 0.5;
  }
}
@media screen and (max-width: 1023px) {
  .timeline {
    width: calc(100% - 40px);
    box-sizing: border-box;
    .container {
      width: 40%;
      box-sizing: border-box;
      margin: 0 20px;
    }
    .container.left {
      left: -5px;
    }

    .container.right {
      right: calc(-50% - 5px);
    }
    .container.right::after {
      left: -64px;
    }
    .container.left::after {
      right: -58px;
    }

    .container.left::before {
      right: -35px;
    }
    .container.right::before {
      left: -40px;
    }
  }
}
@media screen and (max-width: 767px) {
  .timeline::after {
    top: 20px;
    left: 40px;
    right: 20px;
  }
  .timeline {
    max-width: calc(100% - 40px);
    width: calc(100% - 40px);
    box-sizing: border-box;
    margin: 20px;
    .container {
      width: calc(100% - 40px);
      margin: auto;
      box-sizing: border-box;
    }
    #container {
      position: relative;
      margin: 10px auto;
      align-items: center;
      max-width: 80%;
      box-sizing: border-box;
      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        overflow: hidden;
        margin: auto;
      }

      .content {
        box-sizing: border-box;
        .tag {
          height: 20px;
          width: 100px;
          font-size: 10px;
          font-weight: 400;
        }
        .title {
          font-size: 14px;
          font-weight: 400;
        }
        p,
        strong {
          margin: 0;
          font-family: "Josefin";
          font-size: 12px;
        }
        .description {
          font-weight: 500;
        }
        .price {
          font-weight: 700;
        }
      }
    }
    .container.left::before,
    .container.right::before {
      width: 30px;
      left: -30px;
    }
    .container {
      position: relative;
      margin: auto;
      width: 100%;
      box-sizing: border-box;
      border: 2px solid #00463c;
    }
    .container.right,
    .container.left {
      position: static;
      left: 30px;
    }

    .container.left::after,
    .container.right::after {
      width: 22px;
      height: 22px;
      left: -40px;
    }
  }
}
