.footer {
  margin-top: 20px;
  padding: 15px 0;
  width: 100%;
  background-color: $color-title;

  .footer-container {
    margin: auto;
    max-width: 1240px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer-left {
      margin-left: 20px;
      display: flex;
      gap: 30px;

      h4 {
        color: #fff;
        font-size: 12px;
        font-weight: 400;
      }
    }
    .footer-right {
      margin-right: 20px;
      font-family: "Josefin";
      color: #fff;
      font-weight: 100;
      font-size: 13px;
    }
  }

  @media screen and (max-width: 767px) {
    .footer-container {
      .footer-left {
        margin-left: 10px;
        flex-direction: column;
        gap: 8px;
      }
      .footer-right {
        margin-right: 10px;
        max-width: 30%;
        text-align: end;
      }
    }
  }
}
