.footer {
  margin-top: 20px;
  padding: 15px 0;
  width: 100%;
  background-color: $color-title;

  .footer-container {
    margin: auto;
    max-width: 1240px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer-left {
      display: flex;
      gap: 30px;

      h4 {
        color: #fff;
        font-size: 12px;
        font-weight: 400;
      }
    }
    .footer-right {
      font-family: "Josefin";
      color: #fff;
      font-weight: 100;
      font-size: 13px;
    }
  }
}
