.header {
  width: 100%;
  height: 50px;
  margin-top: 36px;
  margin-bottom: 20px;
  background-color: #aa5246;

  .header-container {
    margin: auto;
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    justify-items: center;

    .nav-mobile {
      display: none;
    }

    .header-logo {
      // position: absolute;
      margin: auto;
      max-width: 100px;

      img {
        margin-top: -40px;
        width: 80px;
        box-sizing: border-box;
        background-color: #fbdbcd;
        border-radius: 50%;
        border: 8px solid #fff;
      }
    }

    .header-nav-left,
    .header-nav-right {
      width: 100%;
      height: 100%;
      // display: grid;
      // grid-template-columns: 1fr 1fr 1fr;
      display: flex;
      justify-content: space-around;

      h2 {
        width: 100%;
        height: 50px;
        font-family: "Gotham";
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        align-content: center;
        color: #fff;
      }

      a {
        width: 100%;
      }
      .nav-active h2 {
        background-color: rgb(255, 255, 255, 0.2);
        // background-clip: content-box;
      }
    }
  }

  @media screen and (max-width: 1280px) {
    .header-container {
      width: 100%;
    }
  }
  @media screen and (max-width: 1024px) {
  }
  @media screen and (max-width: 768px) {
  }
}
